# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Any file
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

# YAML file
[*.{yml,yaml,yamlfmt}]
indent_size = 2

# tfvars files
[*.tfvars]
indent_style = space
indent_size = 2

# encrypted tfvars files
[*.enc.tfvars]
indent_style = tab
